<div class="container">
<h2>Accessory.ly</h2>
{{control-accessory showModalDialog="showModalDialog" pressRelease="pressRelease" takeOffHat="takeOffHat" itemName="hat"}} <br/>
{{control-accessory showModalDialog="showModalDialog" pressRelease="pressRelease" takeOffHat="takeOffHat" itemName="necklace"}} <br/>
{{control-accessory showModalDialog="showModalDialog" pressRelease="pressRelease" takeOffHat="takeOffHat" itemName="shoe"}} <br/>
<br/>
<br/>
<button {{action 'pressRelease'}}>Read our Press Release</button>

</div>